:root{
    --heading-family:'DM Serif Display', serif;
    --body-font: 'Karla', sans-serif;
}

body{
    font-family: var(--body-font);
    /* font-weight: 400; */
}

.container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.logo{
    margin-left: 3rem;
    width: 30%;
}

nav{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
}

nav ul{
    display: flex;
    width: 80%;
}

nav ul li{
    list-style: none;
    padding: .5rem;
    width: 100%;
}


nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    width: 90%;
    color: #706f6f;
}

#button{
    border: 2px solid #222;
    max-width: 30%;
    text-align: center;
    height: 1.5em;
}

#button >a{
    color: #222;
    padding-top: 100%;
}

.toggle{
    display: flex;
    position: absolute;
    left: 95%;
    visibility: hidden;
}

#hum{
    position: relative;
    top: 0;
    left: 0;
}

#close{
    position: absolute;
    /* top: 60px; */
    /* left: 80px; */
}

/* end of header styles */

.intro{
    background-color: #141c2f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}

.intro-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 50%;
    position: relative;
}

.intro-text >span{
    border: 1px solid #706f6f;
    width: 20%;
}

.intro-text >h1{
    font-size: 3.5rem;
    width: 60%;
    font-weight: 400;
    font-family: var(--heading-family);
}

.intro-text >p{
    width: 80%;
    line-height: 1.5;
}

.intro-text >button{
    border: 2px solid #fff;
    width: 25%;
    height: 3rem;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.intro-image{
    margin-top: 5rem;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 30%;
}






